###############################################################
# Copyright (c) 2021, 2023 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# SPDX-License-Identifier: Apache-2.0
###############################################################

name: LocalDev Lint and Test Chart

on:
  # push:
  #   paths:
  #     - 'charts/localdev/**'
  #   branches: [main, dev]
  # pull_request:
  #   paths:
  #     - 'charts/localdev/**'
  workflow_dispatch:
    inputs:
      node_image:
        description: 'kindest/node image for k8s kind cluster'
        # k8s version from 23.12 release
        default: 'kindest/node:v1.27.3'
        required: false
        type: string
      # upgrade_from:
      #   description: 'localdev chart version to upgrade from'
      #   default: '0.0.1'
      #   required: false
      #   type: string

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 0

      - name: Kubernetes KinD Cluster
        uses: container-tools/kind-action@0ad70e2299366b0e1552c7240f4e4567148f723e # v2.0.4
        with:
          version: v0.19.0
          node_image: ${{ github.event.inputs.node_image || 'kindest/node:v1.27.3' }}

      - name: Set up Helm
        uses: azure/setup-helm@b7246b12e77f7134dc2d460a3d5bad15bbe29390 # v4
        with:
          version: v3.10.3

      # Setup python as a prerequisite for chart linting 
      - uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
        with:
          python-version: '3.9'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@e6669bcd63d7cb57cb4380c33043eebe5d111992 # v2.6.1

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      # run chart linting 
      - name: Run chart-testing (lint)
        run: ct lint --charts charts/localdev --config charts/chart-testing-config.yaml

      - name: Enalbe TLS setup on KinD cluster
        run: |
          helm repo add jetstack https://charts.jetstack.io
          helm repo update
          helm install \
            cert-manager jetstack/cert-manager \
            --namespace default \
            --version v1.13.0 \
            --set installCRDs=true
          kubectl apply -f - <<EOF
          apiVersion: cert-manager.io/v1
          kind: ClusterIssuer
          metadata:
            name: selfsigned-issuer
          spec:
            selfSigned: {}
          ---
          apiVersion: cert-manager.io/v1
          kind: Certificate
          metadata:
            name: my-selfsigned-ca
            namespace: default
          spec:
            isCA: true
            commonName: cx.local
            secretName: root-secret
            privateKey:
              algorithm: RSA
              size: 2048
            issuerRef:
              name: selfsigned-issuer
              kind: ClusterIssuer
              group: cert-manager.io
            subject:
              organizations:
                - CX
              countries:
                - DE
              provinces:
                - Some-State
          ---
          apiVersion: cert-manager.io/v1
          kind: ClusterIssuer
          metadata:
            name: my-ca-issuer
          spec:
            ca:
              secretName: root-secret
          EOF
        if: github.event_name != 'pull_request' || steps.list-changed.outputs.changed == 'true'

      - name: Run helm install
        run: |
          helm repo add tractusx-dev https://eclipse-tractusx.github.io/charts/dev
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add pgadmin4 https://helm.runix.net
          helm install local charts/localdev --timeout 20m
        if: github.event_name != 'pull_request' || steps.list-changed.outputs.changed == 'true'

      #   # Upgrade the released localdev chart version with the locally available chart
      # - name: Run helm upgrade
      #   run: |
      #     helm repo add tractusx-dev https://eclipse-tractusx.github.io/charts/dev
      #     helm repo add pgadmin4 https://helm.runix.net
      #     helm install local tractusx-dev/localdev --version ${{ github.event.inputs.upgrade_from || '0.0.1' }} --namespace upgrade --create-namespace
      #     helm dependency update charts/localdev
      #     helm upgrade local charts/localdev --namespace upgrade
      #   if: github.event_name != 'pull_request' || steps.list-changed.outputs.changed == 'true'
